/****MAIN****/

* {box-sizing: border-box;}

html {
	height: 100vh;
	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: white;
	perspective: 1px;
	transform-style: preserve-3d;
	overflow-x: hidden;
	overflow-y: scroll;
}


/***FIRST SECTION***/

#container1::before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #2A8077;
	position: absolute;
	background: url('img/nest1.jpg') top center;
	background-size: cover;
	transform: translateZ(-1px)scale(2.2);
	margin-top: 400px;
}

#container1 {
	margin: 0;
	width: 100%;
	min-height: 100vh;
	position: relative;
	transform-style: preserve-3d;
	

/***NAVIGATION SECTION***/

.navbar {
	text-align: center;	
	padding-top: 2%;
}

.navbar ul {
	text-align: center;	
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar ul li {
	text-align: center;	
	display: inline;
}

.navbar ul li a {
	
	text-align: center;	
	color: #fff;
	text-decoration: none;
	padding: 6px 16px;	
}

.navbar li a:hover {color: #5DCAA0;}


/***BANNER SECTION***/

#banner {}

#banner h1 {
	text-align: center;
	font-size: 120px;
	color: #5DCAA0;
	letter-spacing: 50px;
	padding-top: 10%;
	padding-bottom: 0;
	margin-bottom: 0;
}


/***SOCIAL SECTION***/

.social {}

.social ul {
	font-size: 18px;
	text-align: center;	
	list-style: none;
	margin: 0;
	padding: 0;
}

.social ul li {
	display: inline;
	margin-right: 15px;
	
}

.social ul li a {
	color: #fff;
	text-decoration: none;
	padding: 6px 16px;	
}

.social li a:hover {color: #5DCAA0;}


/***INTRO SECTION***/

.transparentBG {
	margin-top: 60px;
	width: 100%;
	min-height: 100vh;
	position: relative;
	transform-style: preserve-3d;
	background: rgba(0, 0, 0, 0.5);
	padding-top: 50px;
}

.introSection1, 
.introSection2 {
	color: white;
	border-left: rgba(9, 218, 136, 1) solid 2px;
	width: 50%;
	float: left;
	margin: 0 0 20px 0;	
	padding: 30px;
	
}
.introSection1 h2,
.introSection1 h3 {
	margin-left: 150px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;	
}


.introSection1 h2 {
	letter-spacing: 10px;	
	font-size: 40px;
	text-align: center;
	margin-bottom: 0;
	margin-left: 150px;
	margin-top: 0;	
}

.introSection1 h2 span {
		color: #5DCAA0; /*rgba(9, 218, 136, 1)*/		
}

.introSection1 h3 {
	font-size: 16px;
	text-align: center;
	margin-top: 0;
	margin-left: 150px;
	padding: 10px;
}


.introSection2 {}

.introSection2 p {
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 150px;
	padding: 6px 40px;
}

